.azeret-mono-normal {

    font-family: "Azeret Mono", monospace;
    font-optical-sizing: auto;
    font-style: normal;
}

/* Nav Style */
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 150px;
    margin-right: 150px;
}

/* nav ul {
    display: flex;
} */

nav ul li {
    list-style: none;
}

nav ul li a {
    color: #0D1321;
    text-decoration: none;
    font-size: 20px;
    font-weight: 700;
    width: 196px;
    height: 23px;
}

.btn-container {
    border: #0D1321 solid 1px;
    background-color: white;
    width: 244px;
    height: 57px;
    border-radius: 8px;
    /* box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25); */
    gap: 10px;
    padding: 17px 24px;
}

/* banner style */

header div img {
    width: 240px;
    height: 240px;
}

.banner-main {
    background-image: url(../assets/Hero-bg.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
    margin-top: 48px;
    margin-bottom: 74px;
    height: 652px;
}

.banner-container {
    text-align: center;
    width: 998px;
    margin-left: auto;
    margin-right: auto;
}

.banner-title {
    font-size: 48px;
    font-weight: bolder;
}

.banner-text {
    width: 852px;
    font-size: 16px;
    font-weight: normal;
    opacity: 0.7;
}

.banner-btn {
    background-color: #0D1321;
    height: 65px;
    width: 244px;
    border-radius: 8px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    border: none;
    margin-top: 45px;
}

.banner-link {
    text-decoration: none;
    font-size: 20px;
    font-weight: 700;
    color: #FFFFFF;
}

/* main content */
.sec-main {
    width: 1140px;
    margin-left: 148px;
    margin-right: 152PX;
    background-color: rgba(13, 19, 33, 0.02);
    border-radius: 16px;
}

.sec-head {
    text-align: center;
    gap: 24px;
    /* margin: 141PX 144PX 48PX 144PX; */
    padding-top: 20px;
    margin: 48px 0px;
}

.section-title {
    font-size: 32PX;
    font-weight: bolder;
    color: #0D1321;
}

.section-text {
    font-size: 16PX;
    font-weight: normal;
    text-align: center;
    opacity: 0.7;
}

.content-container {
    width: 946px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 48px;
}

.c-box {
    background-color: #FFFFFF;
    /* border-radius: 16px 0px 0px 16px; */
    width: 477px;
    height: 219px;
    padding: 40px 0px 10px 50px;
    gap: 32px;
    border-radius: 16px;
    background: linear-gradient(270.00deg, rgb(255, 255, 255), rgba(255, 255, 255, 0) 100%);
}

.content-box {
    margin-left: 97px;
    margin-right: 97px;
}

.b-title {
    font-size: 24px;
    font-weight: bold;
    color: #0D1321;
}

.b-text {
    font-size: 16px;
    font-weight: normal;
    color: #0D1321;
    opacity: 0.7;
}

.b-btn {
    width: 171px;
    height: 47px;
    background-color: #FFFFFF;
    border: #0D1321 1px solid;
    padding: 12px 20px 12px 20px;
    font-size: 20px;
    font-weight: 700;
}

.b-btn a {
    text-decoration: none;
    color: #0D1321;
}

.image-box {
    width: 240px;
    height: 274px;
    margin-right: 80px;
}

/* My inspiration style */

.sec-inspiration {
    width: 1140px;
    height: 775px;
    align-items: center;
    margin: 90px 152px 151px 148px;

}

.ins-box {
    width: 852px;
    height: 113px;
    align-items: center;
    text-align: center;
    margin: 90px 144px 48px 144px;
}

.ins-title {
    color: rgb(13, 19, 33);
    font-size: 32px;
    font-weight: 800;
    line-height: 37px;
    text-align: center;
}

.ins-text {
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: center;
    opacity: 0.7;
}

.video-box {
    box-sizing: border-box;
    border: 1px solid rgba(13, 19, 33, 0.2);
    border-radius: 16px;
    width: 1140px;
    height: 614px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.vide0-content {
    border-radius: 16px;
    align-items: center;
    margin: 10px 0px;

}

/* Target section */

.target-sec {
    width: 1140px;
    height: 460px;
    margin: 150px 150px 111px 150px;
}

.target-container {
    text-align: center;
    width: 946px;
    height: 113px;
    margin: 191px 95px 48px 99px;
}

.t-target {
    font-size: 32px;
    font-family: 800;
    color: #0D1321;
}

.t-text {
    font-size: 16px;
    font-weight: normal;
    color: #0D1321;
    opacity: 0.7;
    margin-left: 97px;
    margin-right: 97px;
}

.t-box {
    width: 852px;
    height: 113px;
    margin: 48px 0px;
}

.skill-container {
    width: 1140px;
    height: 299px;
    display: flex;
    gap: 24px;
}

.skill-box {
    width: 364px;
    height: 299px;
    border-radius: 16px;
    background: rgba(255, 76, 30, 0.05);
    padding: 40px;
}

.skill-subbox {
    width: 284px;
    height: 19px;
    margin: 16px 0px;
}

.s-heading {
    font-size: 24px;
    font-weight: 800;
    color: #0D1321;
}

.s-text {
    font-size: 16px;
    font-weight: normal;
    color: #0D1321;
    opacity: 0.7;
}

.s-link {
    font-size: 16px;
    font-weight: 700;
    color: #0D1321;
}

.skill-box2 {
    width: 364px;
    height: 299px;
    border-radius: 16px;
    background: rgba(0, 76, 232, 0.05);
    ;
    padding: 40px;
}

.sec-support {
    border-radius: 16px;
    background: rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2), url(Email);
    background-image: url(../assets/handshake.jpg);
    background-position: center;
    background-size: cover;
    width: 1140px;
    height: 313px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 150px;
    margin-right: 150px;
}

.support-t {
    color: rgb(255, 255, 255);
    font-size: 32px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 0%;
    text-align: center;

}

.support-text {
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: center;
    opacity: 0.7;
}

.support-box {
    width: 1044px;
    height: 185px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
    margin: 32px 0px;
}

.support-subbox {
    width: 730px;
    height: 104px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: none;
    flex-grow: 0;
    margin: 24px 0px;
}

.support-input {
    box-sizing: border-box;
    border: 1px solid rgba(13, 19, 33, 0.15);
    border-radius: 8px;
    background: rgb(255, 255, 255);
    width: 548px;
    height: 57px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 19px 20px 19px 20px;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 16px;
}

.submit-btn {
    border-radius: 8px;
    background: rgb(255, 255, 255);
    width: 120px;
    height: 57px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 17px 20px 17px 20px;
    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 0px 16px;
    border: none;
    font-size: 20px;
    font-weight: 600;
}

.support-form {
    display: flex;
    align-items: center;
    margin-top: 24px;
}

.sec-footer {
    width: 1440px;
    height: 100px;
    top: 5145px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 32px 150px 32px 150px;
    border-radius: 16px;
    background: rgba(13, 19, 33, 0.03);
    margin-top: 80px;
}

.social-icons {
    text-decoration: none;
}

.footer-container {
    position: static;
    width: 1140px;
    height: 36px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
    margin: 32px 0px;
}

.footer-text {
    color: rgb(13, 19, 33);
    font-size: 20px;
    font-weight: 600;
    line-height: 23px;
    text-align: center;
}